* {
  margin: 0;
  padding: 0;
  color: #0e1133;
  font-family: sans-serif;
}

body {
  padding: 0px 35px 50px 35px;
  background-color: #0e1133;
  /* font-size: 17px; */
  font-size: 1.5vw;
}
.main-head {
  background-color: #fff;
  padding: 25px;
  padding-top: 65px;
  border-radius: 0px 0px 20px 20px;
}

.blocks {
  background-color: #fff;
  margin-top: 20px;
  padding: 20px;
  border-radius: 15px;
}

.blocks:hover {
  transform: scale(1.04);
  transition: 0.7s;
}
li {
  margin-left: 20px;
  padding-bottom: 15px;
}
.center {
  text-align: center;
}
.name {
  padding-bottom: 20px;
  font-size: 6vw;
}

.block-h {
  font-size: 4vm;
  padding-bottom: 25px;
}

.block-content {
  border-left: solid #04ca81;
  writing-mode: vertical-l;
}
.grean {
  color: #02b574;
}
a {
  text-decoration: none;
}
a:hover {
  padding: 3px;
  color: #fff;
  background-color: #0e1133;
  border-radius: 10px;
  transition: 0.6s;
}

.skill {
  list-style: none;
}
